@page
@model restful_blog.Pages.Blog.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<partial name="Shared/_PostPartial" model="Model.BlogModel"/>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
