@page
@model restful_blog.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Blog Index</h1>

<p>
    <a asp-page="Create">+ Create New</a>
</p>

@foreach (var item in Model.BlogPosts)
{
    item.Content = item.getCaption(); // This is the index, so we only want a caption of the entire post
    <partial name="Shared/_PostPartial" model="item" />
}
