@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RESTful Blog</h1>
</div>
<pre>
A simple blog API based on the RESTful style, using CRUD (Create, Read, Update, Delete) operations.
</pre>
