@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RESTful Blog</h1>
</div>
<pre>
A simple blog made in Asp.Net Razor Pages. 

It is based on the RESTful architecture, and also uses CRUD (Create, Read, Update, Delete) operations to manipulate SQL Server data.

Please click "Blog" in the nav menu to get started.

The project also includes integration tests for all REST operations.
</pre>
